# Web Environment Variables
# Para desenvolvimento local (fora do Docker):
# VITE_API_URL=http://localhost:3001
# VITE_NOTIFICATIONS_SERVICE_URL=http://localhost:3004

# Para desenvolvimento com Docker (descomente as linhas abaixo e comente as de cima):
VITE_API_URL=http://api-gateway:3001
VITE_NOTIFICATIONS_SERVICE_URL=http://notifications-service:3004
