# Auth Service Environment Variables
PORT=3002
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=challenge_db

# RabbitMQ
RABBITMQ_URL=amqp://admin:admin@localhost:5672
